{%load static%}
<html>
    <head>
        <title>Default</title>
        <link rel="stylesheet" type ="text/css" href="{%static 'fitness/style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <div>
            <a href="{%url 'login'%}"><button id='login-button'>LOGIN</button></a></div>
            <div class='row size'>
                
                    <div class='col-md-6 color'>
                        <h2 class='font-size'>Create a Workout</h2>
                        <button id="invis"></button>
                    </div>
            
                
                    <div class='col-md-6 color2'><h2 class='font-size'>Find a Workout</h2></div>
            </div>
            <a href="{%url 'register'%}"><button id='register-button'>REGISTER  </button></a></div>
           
            
        
    
        
        
        
    
        
        
    </body>
    </html>